{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUGTREAT SITE</title>
    <link rel="stylesheet" href="{% static 'web.css' %}">
    {% block extra_css %}{% endblock %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        </style>
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <div class="world"><video autoplay muted loop id="video"><source src="{% static 'world.mp4' %}"></video>
    <div id="nav">
        <div class="mox">
        
        <nav>
            <h1>TECHNOLOGIES</h1>
            <ul>
                <li><a href="" class="home"> <i class="fa-solid fa-house"> </i></i>HOME</a></li>
                <li class="botton"><a href=""><i class="fa-solid fa-face-smile"></i>ABOUT</a></li>
                <li><a href="contact/" class="mur"><i class="fa-solid fa-phone"></i>CONTACT</a></li>
                
            </ul>
           
            <a href="data/" class="but">NEXT PAGE</a>
           
            
        </nav>
        </div>
        
        <div class="top"><h1>WELCOME TO OUR SITE</h1></div>
        <div class="mm"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, sed. Delectus in maxime dolorem dolores quos consequatur, voluptate laudantium officia asperiores nisi. Eum cumque error sunt sed, placeat at sit odio voluptas consectetur neque et excepturi quasi optio distinctio nam alias! Beatae tempora in amet et obcaecati? Veritatis, a exercitationem.</p></div>
        {% block content %}
        
        <div class="container">
            <div class="img"><img src="{% static '02.jpg' %}" alt=""><p class="p">Lorem ipsum, dolor sit amet ejhfvweub jedhvuyweuvdwe weegvudvuewubuyew ewjhbueuwbuyuew whevduweconsectetur adipisicing elit. Officiis perferendis, eos ut cum reiciendis!</p></div>
            <div class="img"><img src="{% static '03.jpeg' %}" alt=""><p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis perferendis, eos ut veritatis nam neque explicabo sequi repellendus cum reiciendis!</p></div>
            <div class="img"><img src="{% static '04.jpeg' %}" alt=""><p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis perferendis, eos ut veritatis nam neque explicabo sequi repellendus cum reiciendis!</p></div>
            <div class="img"><img src="{% static '01.jpg' %}" alt=""><p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis perferendis, eos ut veritatis nam neque explicabo sequi repellendus cum reiciendis!</p></div>
    
        </div>
        <div class="form" >
        <form action="" method="POST">
        {% csrf_token %}
            <label for="name"><h2>NAME</h2></label>
            <input type="text" placeholder="Enter name" name="name">
            <label for=""><h2>ADDRESS</h2></label>
            <input type="address" placeholder="Enter add" name="adress" required>
            <label for="name"><h2>GMAIL</h2></label>
            <input type="mail" placeholder="Enter gmail" name="gmail">
            <label for="name"><h2>PHONE</h2></label>
            <input type="number" placeholder="Enter phone no" name="phone">
            <div>
                <button class="log">SUBMIT</button>
            </div>
            

        </form>
        

    </div>
    <div class="container">
        <div class="img"><img src="{% static '07.jpg' %}" alt=""><p class="p">Lorem ipsum, dolor sit amet ejhfvweub jedhvuyweuvdwe weegvudvuewubuyew ewjhbueuwbuyuew whevduweconsectetur adipisicing elit. Officiis perferendis, eos ut cum reiciendis!</p></div>
        <div class="img"><img src="{% static '08.jpeg' %}" alt=""><p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis perferendis, eos ut veritatis nam neque explicabo sequi repellendus cum reiciendis!</p></div>
        <div class="img"><img src="{% static '09.jpg' %}" alt=""><p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis perferendis, eos ut veritatis nam neque explicabo sequi repellendus cum reiciendis!</p></div>
        <div class="img"><img src="{% static '10.jpg' %}" alt=""><p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis perferendis, eos ut veritatis nam neque explicabo sequi repellendus cum reiciendis!</p></div>

    </div>
    <div class="paw"> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi expedita reprehenderit consequuntur veritatis necessitatibus omnis hic. Dolorum praesentium porro qui ut molestiae distinctio veritatis aliquam non ullam minima. Omnis ab animi reiciendis ipsum nesciunt nihil qui aliquid earum possimus voluptas, totam libero minus non inventore ad deserunt alias quo maiores?
        </p>
        
        
    </div>
    
    <table class="table">
        <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Grade</th>
        </tr>
        <tr>
            <td>karthi</td>
            <td>34</td>
            <td>B++</td>
        </tr>
        <tr>
            <td>prathi</td>
            <td>22</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>murugan</td>
            <td>18</td>
            <td>C</td>
        </tr>
        <tr>
            <td>guna</td>
            <td>27</td>
            <td>C++</td>
        </tr>
    </table>
    <footer class="foot">
        
        <div class="tt"><h4>CONTACT US ON</h4></div>
        <div class="in"></div>
        <h5>Adress:kalankarai</h5>
        <h5>city:madurai</h5>
        <h5>Gmail:pravinps31102002@gmail.com</h5>
    
    </footer>
    <div class="about">
        <h3>
            ABOUT PAGE
        </h3>
        <video class="vio" autoplay muted loop><source src="{% static '123.mp4' %}"></video>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consectetur impedit explicabo quas unde odio fugit laudantium quisquam eaque, voluptatibus molestiae alias expedita quod? Corporis quod earum tempore impedit pariatur veniam repellat, alias quam reprehenderit asperiores soluta magni incidunt itaque fugit at molestiae. Soluta enim autem adipisci, odit sapiente ipsam?</div>
    </div>
    </div>
    
    {% endblock %}
    <script>
        var button=document.querySelector('.botton');
        var box=document.querySelector('.about');
        
        button.addEventListener('mouseover',()=>{
            box.style.display='block';
        });
        button.addEventListener('mouseout',()=>{
            box.style.display='none';
        });
        document.querySelector('.mur').addEventListener("click",function(event){
            event.preventDefault();
            window.location.href="/contact/"
            
        });
        document.querySelector('.home').addEventListener("click",function(event){
            event.preventDefault();
            window.location.href="/"
        });
        document.querySelector('.but').addEventListener("click",function(event){
            event.preventDefault();
            window.location.href="/data/"
        });
        

        
    </script>
    
  
</body>
</html>